@model IEnumerable<GoldKeyLib.Entities.UserGroupPermission>
@using (Html.BeginForm())
{
<div>
    <table class="table">
        <tr>
            <th>FormName</th>
            <th>C</th>
            <th>R</th>
            <th>U</th>
            <th>D</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            @for (var i = 0; i < Model.Count; ++i)

            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FormName)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.CanCreate)                   
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.CanRead, new { value = item.CanRead })                 
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.CanUpdate, new { value = item.CanUpdate })                         
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.CanDelete, new { value ="<% item.CanDelete %>" })                                       
                </td>
            </tr>
               }
    </table>
</div>

}
